<h1>Goal.com Main  news</h1>
<%= will_paginate @latest_news %>
<% for news_item in @latest_news %>
<div>
<%= link_to news_item.news , "http://www.goal.com#{news_item.link}"%>

</div>
<% end %>
<%= will_paginate @latest_news %>

